<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
        
	<!-- Scans needed packages -->
        <context:component-scan base-package="com.excilys.computerdatabase.controller" />
        <context:component-scan base-package="com.excilys.computerdatabase.dto" />

	<!-- Redirects root URL to dashboard -->
	<mvc:redirect-view-controller redirect-url="dashboard" path="/"/>
        
	<!-- View Resolver (jsp pages) -->
        <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        	<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
        	<property name="prefix" value="/WEB-INF/views/" />
        	<property name="suffix" value=".jsp" />
        </bean>
        
	<!-- Ressources for the views -->
        <mvc:resources mapping="/css/**" location="/css/"/>
        <mvc:resources mapping="/js/**" location="/js/"/>
        <mvc:resources mapping="/fonts/**" location="/fonts/"/>
        
        <!-- Gives control over the inner workings of Spring MVC such as @Controller, @RequestMapping, @ResponseBody -->
	<!-- and creates an Argument Resolver for Spring Page & Pageable -->	
	<mvc:annotation-driven >
		<mvc:argument-resolvers> 
			<bean class="org.springframework.data.web.PageableHandlerMethodArgumentResolver"/> 
			<bean class="org.springframework.data.web.SortHandlerMethodArgumentResolver"/> 
		</mvc:argument-resolvers> 
	</mvc:annotation-driven>
        
        <!-- Path of the i18n message.properties -->
	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="/WEB-INF/i18n/messages" />
		<property name="defaultEncoding" value="UTF-8" />
	</bean>
		
	<!-- Language detection & default setting -->
	<mvc:interceptors> 
	    <bean id="localeChangeInterceptor" class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
	        <property name="paramName" value="lang" />
	    </bean>
	</mvc:interceptors>
		
	<!-- Cookie resolver for the i18n -->
	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
		<property name="defaultLocale" value="en"/>
	</bean>
        
</beans>